<form action="/update/<%=@web_info.id%>" method="post" >
	<label>标识：</label>
	<input type="text" name="web_info[tab]" value="<%=@web_info.tab%>" /><br />
	<label>名称：</label>
	<input type="text" name="web_info[title]" value="<%=@web_info.title%>" /><br />
	<label>网址：</label>
	<input type="text" name="web_info[url]" value="<%=@web_info.url%>" /><br />
	<label>标签：</label>
	<input type="text" name="web_info[tags]" value="<%=@web_info.tags%>" /><br />
	<label>关键词：</label>
	<input type="text" name="web_info[keyword]" value="<%=@web_info.keyword%>" /><br />
	<input type="submit" value="submit" />
</form>
